extends layout
block content
  .row
    .col-sm-12
      .panel.panel-success
        .panel-heading
          h2= '¿' + encuesta.pregunta + '?'
            small= '  ' + encuesta.creador + ' (' + encuesta.fechaConFormato + ')'
        .panel-body
          form(method="post", action= encuesta.url)
            each opcion, i in encuesta.opciones
              .form-check
                input.form-check-input(name="op", type='radio', value='' + opcion.op)
                label.form-check-label= opcion.op

            input.btn.btn-primary(type="submit", value="Votar")

      h3 Resultados
      each opcion, i in encuesta.opciones
        p= opcion.op + ': '
          span= opcion.votos

      #pregunta(pregunta= encuesta.pregunta)
      canvas#grafico
      script(src='/js/Chart.js')
      script(src='/js/grafico.js')
