extends layout

block content
  script(src='/js/main.js')
  //.row
  //  .col-sm-12
  // - a(href= usuario.url + '/crearEncuesta') Crear Encuesta
  // - h2= usuario_nombre
  // - h2= usuario.local.username
  h3 Mis encuestas
  div.row.display-flex
    if encuestas
      each encuesta, i in encuestas
        div.col-xs-12.col-sm-6.col-md-4
          .panel.panel-success
            .panel-heading
              h4
                a(href= encuesta.url)= encuesta.pregunta
                  // - a.btn.btn-sm.btn-success(href= encuesta.url) Comparte la encuesta
                  span= ' (' + encuesta.fechaConFormato + ')'
            .panel-body
              h5 Opción más votada: #{encuesta.opMasVotada.op} (#{encuesta.opMasVotada.votos} votos de un total de #{encuesta.totalVotos}),
            .panel-footer.text-right
              if usuario.local.username == encuesta.creador
                p.text-danger ¡Cuidado! #{' '}
                  button.btn.btn-sm.btn-danger.borrar_encuesta(href="#" data-id= encuesta.url) Borrar la encuesta
    // - No logro hacer que funcione lo que sigue:
    //else
    // - p Crea una nueva encuesta
    // -   a(href= usuario.url + '/crearEncuesta' title='Nueva encuesta')
    // -     i.fa.fa-plus-square
  // - hr
  // - a.btn.btn-danger.borrar-usuario(href='#', data-id=id) Eliminar cuenta de usuario
